.box{
    width: 49px;
    height: 49px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    /* padding-top: 25%; */
    display: flex;
    justify-content: center;
    margin: 1px;
    align-items: center;
}